.profile-container-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;

    margin-bottom: 50px;
}

.form-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(234, 234, 234);

    padding: 20px;
    margin: 10px;

    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    color: #7f7f7fff;

    margin-bottom: 20px;
}

.form-group input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-group textarea {
    height: 30px;
    max-width: 350px;
    max-height: 70px;
}

.container-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    background-color: rgb(255, 252, 232);
    border-radius: 10px;

    padding: 20px;
}

.title-update {
    border-bottom: 1px solid rgb(247, 206, 91);
}

.avatar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image-avatar-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid rgb(11, 19, 43);
    border-radius: 10px;

    padding: 20px;
}

.icon-avatar {
    font-size: 30px;
    color: rgb(247, 206, 91);
}

.btn-update {
    width: 300px;
    background-color: rgb(11, 19, 43);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;

    margin-top: 20px;

    cursor: pointer;

    transition: all 0.3s;
}

.btn-update:hover {
    background-color: rgb(247, 206, 91);
}

@media (max-width: 1170px) {
    .form-group input, textarea {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .form-group input, textarea {
        width: 100%;
    }
}