.header-container {
    position: sticky;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: white;

    margin-top: 60px;
    padding-top: 20px;

    border-bottom: 1px solid rgb(247, 206, 91);
    border-top: 1px solid rgb(247, 206, 91);
    
}

.profile-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;

    margin-bottom: 30px;
}

.menu-hamburger {
    display: none;
}

.icons-header {
    font-size: 40px;
    color: rgb(11, 19, 43);
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.icons-header:hover {
    color: rgb(247, 206, 91);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 750px) {

    .menu-hamburger {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
        padding: 20px;
    }

    .menu-hamburger span {
        width: 30px;
        height: 4px;
        background-color: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .menu-hamburger.open > span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .menu-hamburger.open > span:nth-child(2) {
        display: none;
    }

    .menu-hamburger.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}

@media (max-width: 480px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }
}