.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-top: 30px;
    
}

.profile-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    align-items: center;
}