.nav-container {
    width: 15%;
    height: 800px;

    background-color: rgb(11, 19, 43);
    border-radius: 20px 0px 0px 20px;

    padding: 20px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80px;
    margin-bottom: 30px;

    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    width: 130%;

    margin: 0;
    padding: 0;

}

.log-out {
    margin-top: 270px;
}

.menu ul li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: white;
    text-align: left;

    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;

    transition: all 0.3s;
}

.menu ul li a:hover {
    background-color: rgb(247, 206, 91);
    color: black;
}

.menu ul li a.active {
    background-color: rgb(247, 206, 91);
    color: black;
}

.icons-menu {
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

@media (max-width: 750px) {
    .nav-container {
        position: absolute;
        left: 0;
        top: 240px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(11, 19, 43, 0.8);
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav-container.open {
        transform: translateX(0);
    }


    .log-out {
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .nav-container {
        position: absolute;
        left: 0;
        top: 310px;
    }
}