.bot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-bot {
    width: 300px;
    background-color: rgb(247, 206, 91);
    padding: 20px;
    border: none;
    border-radius: 8px;
    color: rgb(11, 19, 43);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-bot:hover {
    background-color: rgb(11, 19, 43);
    color: white;
}