.login-container {
    width: 80%;
    /*height: 800px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;
    padding: 40px;
}

.form-login-container {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgb(11, 19, 43);

    border-radius: 12px;

    padding: 30px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.logo-full {
    width: 100%;

    margin-bottom: 50px;
}

.btn-login {
    width: 100%;

    background-color: rgb(247, 206, 91);
    color: rgb(11, 19, 43);

    border: none;
    border-radius: 10px;

    padding: 12px;
    margin-top: 20px;

    cursor: pointer;

    font-weight: bold;
}

.btn-login:hover {
    background-color: white;
}

@media (max-width: 750px) {
    .logo-full {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .form-login-container {
        width: 250px;
    }
}

@media (max-width: 390px) {
    .form-login-container {
        width: 200px;
    }
}

@media (max-width: 320px) {
    .form-login-container {
        width: 200px;
    }

    .login-container {
        width: 98%;
    }
}
